username="yourusername"
password="yourpassword"
host="https://vra.success.chef.co"
tenant="vsphere.local"
catalog_item_name="centos760"
deployment_description="Alcon Automate Instance for POC"
deployment_count="1"